/* Nav stuff */
.topNav {
  background-color: #333;
  color: white;
  padding: 20px;
}

.topNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: right; /* links right on nav */
}

.topNav li {
  display: inline;
}

.topNav li a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

/* Add pipe separator between links */
.topNav li:not(:last-child) {
  border-right: 1px solid white;
  margin-right: 10px;
}

.topNav li a:hover {
  background-color: #111;
}

.navLogo {
  position: absolute;
  left: 60px;
  top: 10px;
  z-index:500; /* Why does 500 work and nothing else? */
}

.navImg {
  max-width: 180px;
  max-height: 90px;
}

/* map css */
#stormsMap {
  height: 600px;
}

/* charts.html specific */
.state-flag ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.state-flag li {
  display: block;
  margin-bottom: 10px;
}

.state-flag img {
  width: 20px;
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}

.state-columns {
  display: flex;
  padding: 60px;
  justify-content: space-between;
}

.state-column {
  flex: 1;
}